@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&display=swap');

section,
footer {
    padding: 5em 0;
}

footer {
    background: #f8f9fa;
    color: #1C2827;
    padding: 20px 0;
    text-align: center;
}

.nav-tabs {
    border-bottom: none;
}

header .nav-tabs .nav-link {
    background: #E6E2C6;
    /* Tan tab color */
    color: black;
    border-radius: 10px 10px 0 0;
    border: 1px solid #ffffff;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-tabs {
    background-color: #a9a93ecf;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    /* Ensures logos fit nicely */
}

.icon-box a {

    text-decoration: none;
    /* Removes underline */
    color: black;
    /* Default text color */
    font-weight: bold;
}

.icon-box a:hover {
    color: blue;
    /* Changes text color on hover */
}

body header {
    background-color: #928a6a;
    color: #FBFFFF;
    font-family: serif;
    font-size: 15px;
}

main {
    background-color: #D6B588;
    color: #1C2827;

}

main img {
    border-radius: 30px;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 0px;

}

.nav-link {
    /*overwrites bootstrap styling*/
    color: #FBFFFF;
    text-decoration: none;
    letter-spacing: 1.2px;
    padding: 1em;
    font-weight: 200;
    font-size: .8em;
}

.nav-link:hover {
    /*sets styling when 'hovering' aka state*/
    color: antiquewhite;
}